.container-edit-booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
    min-height: 70vh;
    margin: 0 auto;
    background-color: #fff7ed;
    color: black;
    position: relative;
    width: 100%;
    box-sizing: border-box;
  }
  
  .container-edit{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
  }
  .container-edit-booking h2 {
    margin-bottom: 20px;
  }
  
  .container-edit-booking form {
    display: flex;
    flex-direction: column;
  }
  
  .container-edit-booking label {
    margin-bottom: 10px;
  }
  
  .container-edit-booking select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .container-edit-booking button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .container-edit-booking button:hover {
    background-color: #0056b3;
  }
  