.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    min-height: 80vh;
    background-color: white;
    color: black;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
}

h1{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

img{
    width: 30%;
    height: 30%;
    object-fit: cover;
    margin-bottom: 10px;
}

@media screen and (max-width: 576px) {
    img{
        width: 70%;
        height: 70%;
    }
    .back{
        font-size: 15px;
    }
}

@media screen and (max-width: 876px) {
    img{
        width: 50%;
        height: 50%;
    }
  
}


.b1{
    background-color: orange;
    padding: 7px;
    border-radius: 4px;
    color: white;
    width: fit-content;
    margin: 20px 0;
}

.b1:hover{
    background-color: orange;
    color: white;
    box-shadow: 5px 5px 5px black;
}

span{
    font-weight: bold;
}

p{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    margin: 10px 0;
}

.rent{
    display: flex;
    justify-content: center;
    margin: 30px 0;    

}

.rent {
    background-color: orange;
    color: white;
    padding: 7px;
    border-radius: 4px;
    width: fit-content;
}

.rent:hover{
    background-color: #000000;
    color: white;
    box-shadow: 5px 5px 5px black;
}

.back{
    display: flex;
    align-items: center;
    background-color: #000000;
    color: white;
    padding: 7px;
    border-radius: 4px;
    margin-top: 20px;
    width: fit-content;
    margin: 10px 0;
}

.arrow{
    width: 30px;
    height: 20px;
    margin-right: 5px;
}

.back:hover{
    background-color: #000000;
    color: white;
    box-shadow: 5px 5px 5px black;
}

  
@keyframes zoomIn {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }


.van-details-img{
    display: flex;
    justify-content: center;
    animation: zoomIn 5s ease-in-out infinite alternate;
    animation-delay: 2s;
    animation-fill-mode: both;
}
