.container-photos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width: 100%;
    background-color: #FFF7ED;
    color: black;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
}

.container-photos img{
    width: 350px;
  height: 350px;
  border-radius: 5px;
}