.container-vandetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #FFF7ED;
    color: black;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
}



.container-vandetail> p{
  line-height: 1.5;
}