.container-vans{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    width: 780px;
    min-height: 80vh;
    background-color: #FFF7ED;
    color: black;
    margin: 0 auto;
}

.host-van-link-wrapper {
    color: unset;
    text-decoration: unset;
}
.host-van-link-wrapper:hover {
    color: black;
}

.host-vans-list {
    padding-inline: 26px;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
}

.host-vans-title {
    padding-inline: 26px;
    font-size: 30px;
    padding: 20px 20px;
}


.host-van-single {
    display: flex;
    background-color: white;
    margin-bottom: 15px;
    padding-block: 18px;
    padding-left: 24px;
    justify-content: flex-start;
    align-items: center;
}

.host-van-single > img {
    height: 200px;
    width: 200px;
    object-fit: cover;

    border-radius: 5px;
    margin-right: 17px;
}

.host-van-info h3 {
    font-size: 20px;
    font-weight: 600;
    margin-block: 10px;
}

.host-van-info p {
    margin-block: 10px;
}

