.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 100%;
    min-height: 80vh;
    background-image: url('../assets/intro.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
}

.p1{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    /* text-align: center; */
}

.p2{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    /* text-align: center; */
}

.button> button{
    border-radius:5px;
    background-color: orange;
    font-size: large;
    color: white;   
    width: max-content; 
    padding: 10px;
}
.button-link{
    color: black;
}

button:hover{
    cursor: pointer;
    background-color: orange;
    box-shadow: 5px 5px 5px black;
    color: black;
}

.button-link:hover{
    color: black;
}

@media screen and (max-width:500px){
    .home-container p{
        font-size: 25px;
    }
    .p2 p{
        font-size: 18px;
        color: rgb(212, 206, 206);
    }

    .button{
        margin-top: 70px;
        margin-bottom: 5px;
        font-size: 15px;
    }
}