.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    width: 780px;
    min-height: 80vh;
    background-image: url('../assets/intro.png');
    padding: 0 10px;
}

.p1{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    /* text-align: center; */
}

.p2{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    /* text-align: center; */
}

button{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border-radius:5px;
    padding: 9px;
    background-color: orange;
    font-size: large;
    color: wh\;
    
}

button:hover{
    cursor: pointer;
    background-color: orange;
    box-shadow: 5px 5px 5px black;
    color: white;
}